.container-fluid{
    display: flex;
    flex-direction: column;
    flex-wrap: none;
}
.title-menu{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(17, 17, 17);
    text-align: center;
    font-size: 0.9rem;
    font-weight: bolder;
    color: rgb(141, 141, 141);
}
nav {
    background-color: rgb(17, 17, 17);
    color: white;
    height: 50px;
}
nav span i{
    text-align: center;
    margin-top: 4px;
    margin-left: 5px;
    width: 50px;
    font-size: 1.5rem;
    padding: 8px;
    border: 1px;
    border-radius: 5px;
    border-style: solid;
}
nav img{
    width: 40px;
    margin-bottom: 10px;
    border-radius: 50%;
    margin-left: 10px;
}
nav a {
    margin-left: 5px;
    font-size: 1.0rem;
    font-style: italic;
}
ul{
    padding: 0;
    padding-top: 20px;
}
ul li{
    padding-bottom: 10px;
    list-style-type: none;
    margin-bottom: 5px;
}
ul li a{
    color: white;
    padding-left: 40px;
    font-size: 0.9rem;
    font-weight: bold;
}
ul li a:hover{
    color: white;
    text-decoration: none;
    border-left: 3px;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    
}
.perfil img{
    display: block;
    margin-left: auto;
    margin-right: auto;  
    border-radius: 50%;
    padding: 10px;
    width: 110px;
}
.perfil{
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 0.9rem;;
}
.menu-column{
    display: flex;
    flex-direction:row;
    background-color: rgb(58, 58, 58);
    color: white;
    
}
.menu-list-container{
    flex-grow: 1;    
}
.container-frame{  
    background-color: rgb(177, 177, 177);
    min-height: calc(100vh - 129px);
    
}
.footer-menu{
    background-color: rgb(17, 17, 17);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    color: rgb(141, 141, 141);
}
@media screen and (min-width: 992px) {
    .menu-column{
        flex-direction:column;
        min-width: 200px;
        min-height: 100vh;
      
    }
    .container-frame{
        width: calc(100% - 200px);
        min-height: 100vh;
    }
    ul{
        padding-top: 50px;
    }
    .container-fluid{
        flex-direction: row;
        flex-wrap: wrap;
    }
    
}